@font-face {
  font-family: "Livvic";
  src: url("../../fonts/Livvic/Livvic-Regular.ttf") format("truetype");
}

.introduction-div {
  font-size: 10px;
  font-family: "Livvic", sans-serif;
  background-color: #324a35;
  height: 78em;
  display: flex;
}
.intro-div-itemA {
  width: 50.2em;
  height: 47.2em;
  text-align: center;
  margin: auto 4em auto auto;
}
.intro-div-itemB {
  width: 50.2em;
  height: 47.2em;
  align-content: center;
  margin: auto auto auto 4em;
}
#introImg {
  height: 53.6em;
}
.intro-div-itemB > p {
  color: white;
}
.intro-div-itemB > p:first-of-type {
  font-size: 20px;
  color: white;
  margin-top: 2.2em;
}
.intro-div-itemB > h3:first-of-type {
  font-size: 46px;
  color: white;
  margin: auto 0em;
  margin-top: 0.5em;
}
.intro-div-itemB > p:nth-of-type(2) {
  color: #f7c35f;
  font-size: 1.6em;
  margin-top: 0.7em;
}
.intro-div-itemB > p:nth-of-type(3) {
  font-size: 1.6em;
  margin-top: 0.7em;
}
.intro-div-itemB > p:nth-of-type(4) {
  font-size: 1.6em;
  margin-top: 0.9em;
  display: flex;
  align-items: center;
}
.intro-div-itemB > p:nth-of-type(5) {
  font-size: 1.6em;
  margin-top: 0.7em;
  display: flex;
  align-items: center;
}
.intro-div-itemB > p:nth-of-type(6) {
  font-size: 1.6em;
  margin-top: 0.7em;
  display: flex;
  align-items: center;
}
.intro-div-itemB > p > img {
  margin-right: 1em;
  height: 1.6em;
}
@media only screen and (max-width: 1000px) {
  .introduction-div {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .intro-div-itemA {
    margin: 5em auto 2em auto;
  }
  .intro-div-itemB {
    margin: 2em auto 5em auto;
  }
}
@media only screen and (max-width: 800px) {
  .introduction-div {
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 8px;
  }
  .intro-div-itemA {
    margin: 4em auto 2em auto;
  }
  .intro-div-itemB {
    margin: 2em auto 4em auto;
  }
}
@media only screen and (max-width: 500px) {
  .introduction-div {
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 6px;
  }
  .intro-div-itemA {
    margin: 4em auto 2em auto;
    height: auto;
  }
  .intro-div-itemB {
    margin: 2em auto 4em auto;
    height: auto;
  }
  .intro-div-itemB > h3:first-of-type {
    font-size: 5em;
  }

  .intro-div-itemB > p:nth-of-type(2) {
    font-size: 3em;
  }
  .intro-div-itemB > p:nth-of-type(3) {
    font-size: 2.4em;
  }
  .intro-div-itemB > p:nth-of-type(4) {
    font-size: 2.4em;
  }
  .intro-div-itemB > p:nth-of-type(5) {
    font-size: 2.4em;
  }
  .intro-div-itemB > p:nth-of-type(6) {
    font-size: 2.4em;
  }
  .intro-div-itemB > p > img {
    height: 2em;
  }
}
