/* First define some default property for all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Second define some property for div root container 
in Html id = root */
#root {
  background-image: url("./assests/homeback.jpeg");
  background-repeat: no-repeat;
  background-size: 100vmin 100%;
  background-attachment: fixed;
  height: 100vh;
  
}
/* media queries for screen */
@media only screen and (min-width:320px) and (max-width: 500px) {
    #root {
  background-image: url("./assests/homeback2.jpeg");
  background-repeat: no-repeat;
  background-size: 100vmin 100%;
  background-attachment: fixed;
  height: 100vh;
}
}
@media only screen and (min-width:500px) and (max-width: 700px) {
    #root {
  background-image: url("./assests/homeback3.jpeg");
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  background-attachment: fixed;
  height: 100vh;
}
}
@media only screen and (min-width:700px) and (max-width: 900px) {
    #root {
  background-image: url("./assests/homeback4.jpeg");
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  background-attachment: fixed;
  height: 100vh;
}
}
@media only screen and (min-width:900px) {
    #root {
  background-image: url("./assests/homeback4.jpeg");
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  background-attachment: fixed;
 height: 100vh;
}
}


